/*Put box-sizing: inherit; on the universal selector and put the box-sizing: border-box; on the body. This is helps with more expected results when using plugins and other imported css*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    //defines what 1rem is 10px / 16px = .625 for easy conversions 1.1 = 11px ect  
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}